fastapi
uvicorn
psycopg2-binary  # Driver para conectar Postgres
websockets
passlib[bcrypt] # Encriptar (hashear) las contraseñas de forma segura y verificarlas. Nunca se guardan en texto plano.
PyJWT # Para generar y descifrar los tokens JWT.
python-multipart #FastAPI lo necesita para leer los formularios de login estándar.